includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - routes
    scanDirectories:
        - ../telegram-git-notifier/src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
